# Ignore Python cache and environments
__pycache__/
*.pyc
.env

# Ignore node_modules and build files
Frontend/react-app/node_modules/
Frontend/react-app/build/

# Ignore IDE and system files
.idea/
.vscode/
*.log