services:
  backend:
    build: .
    ports:
      - "8000:8000"
    environment:
      - PORT=8000
    command: uvicorn main:app --host 0.0.0.0 --port 8000


  frontend:
    build:
      context: ./Frontend/react-app
      dockerfile: Dockerfile
    ports:
      - "3000:80"

  backend_v2:
    build:
      context: .
      dockerfile: Dockerfile.v2
    container_name: math_agent_v2
    ports:
      - "8080:8000"
    environment:
      - PORT=8000
    command: uvicorn main:app --host 0.0.0.0 --port 7860