version: "3.9"

services:
  backend:
    build: .
    ports:
      - "8000:8000"
    environment:
      - PORT=8000
    command: uvicorn main:app --host 0.0.0.0 --port 8000


  frontend:
    build: ./Frontend.react-app
    ports:
      - "3000:3000"
    command: npm star